<div class="editor-container">
    <div class="side-bar">
        <button nz-button nzType="primary" (click)="exportConfig()">导出</button>
        <button nz-button nzType="primary" [disabled]="!commandSrv.canUndo" (click)="commandSrv.undo()">Undo</button>
    </div>
    <div class="view">
        <threed-box #threedBox (selected)="onSelected($event)" (positionChanged)="onPositionChanged($event)"
            (scaleChanged)="onScaleChanged($event)" (rotationChanged)="onRotationChanged($event)"></threed-box>
    </div>
    <div class="r-side-bar">
        <div class="hierarchy-container">
            <hierarchy-tree [scene]="scene"></hierarchy-tree>
        </div>
        <div class="tools-container">
            <ng-container *ngIf="selectedObj">
                <states-panel [target]="selectedObj" (createState)="onCreateState($event)"
                    (deleteState)="onDeleteState($event)" (selectState)="onSelectState($event)"></states-panel>
                <prop-tabs #propTabs [scene]="scene" [target]="selectedObj"></prop-tabs>
            </ng-container>
        </div>
    </div>
</div>