.editor-container {
    display: flex;
    align-items: stretch;

    .side-bar {
        min-width: 3rem;
        background: #676767;
    }

    .view {
        flex-grow: 1;
    }

    .r-side-bar {
        min-width: 15rem;
        background: #565656;
    }
}